.num-container p {
  width: 50%;
  font-weight: normal;
}
.gum-container p {
  width: 50%;
  font-weight: normal;
}

.num-container h5 {
  font-weight: bold;
}
.gum-container h5 {
  font-weight: bold;
}

.resources-container .one-line {
  font-size: 1.5em;
  font-weight: 200;
}
