.num-container p {
  width: 50%;
  font-weight: 300;
}
.gum-container p {
  width: 50%;
  font-weight: 300;
}

.num-container h5 {
  font-weight: bold;
}
.gum-container h5 {
  font-weight: bold;
}

.resources-container .one-line {
  font-size: 1.5em;
  font-weight: 200;
}
.num-content p {
  width: 45%;
}
.num-content img {
  width: 55%;
}
.gum-container {
  padding-top: 2em;
  img {
    padding-left: 5em;
    padding-top: 0;
  }
}

.gum-container h5 {
  padding-top: 1em;
}
