.jumbo-container {
  background-image: url("../../../photos/youthz.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 20rem;
  padding-bottom: 6rem;
  justify-content: center;
  vertical-align: flex-start;
}

// .heading-jumbo {
//   margin-bottom: 0;
//   height: 35%;
//   margin-top: 0;
//   padding-top: 0;
//   .heading-container {
//     margin-top: 0;
//     padding-top: 0;
//   }
// }
p.lead {
  margin-bottom: 0;
}
