@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

h1 {
  font-family: "Oxygen", sans-serif;
  font-weight: bolder;
}

h3 {
  font-weight: bold;
  font-family: "Oxygen", sans-serif;
}

.coach img {
  height: 65%;
}

.coach {
  width: 33.3%;
}
.mission-statement p {
  font-weight: 200;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1.5em;
}

.team-container p {
  font-weight: 200;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1.5em;
  padding-bottom: 0;
  margin-bottom: 0;
}

.mission-text {
  padding-bottom: 1em;
}
