@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

h1 {
  font-family: "Oxygen", sans-serif;
  font-weight: bolder;
}

h3 {
  font-weight: bold;
  font-family: "Oxygen", sans-serif;
}

.coach img {
  height: 75%;
}

.coach {
  width: 33.3%;
}
.mission-statement p {
  font-weight: 450;
}
