.navbar {
  background-color: white;
  padding-bottom: 0;
  margin-bottom: 0;
}
.navbar .navbar-brand {
  width: 10%;
  border-bottom: none;
  border-radius: 5%;
}

.navbar img {
  height: 10%;
  width: 100%;
}
